<h1>Adicionar Curso</h1>

<div>
<form action="/salvar/dados" method="POST">
<input type="text" placeholder="Nome do curso" name="nome" required>
<input type="number" placeholder="Duracao" name="duracao" required>

<input type="submit" value="Adicionar"> 
</div>

<div class="voltar">
    <a href="/" class="ver">Voltar</a>
</div>

</form>